*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125vh;
  background-image: linear-gradient(#380036,#0CBABA);
}
.container{
  max-width: 900px;
  padding: 28px;
  margin: 0 28px;
  border-radius: 10px;
  overflow: hidden;
  background: rgba(0,0,0,0.2);
  box-shadow: 0 15px 20px rgba (0,0,0,0.6);
}
h2{
  font-size: 26px;
  font-weight: bold;
  text-align: left;
  color: #fff;
  padding-bottom: 8px;
  border-bottom: 1px solid silver;
}
.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}
.input-box{
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  padding-bottom: 15px;
}
.input-box:nth-child(3n){
  justify-content: end;
}
.input-box label, .gender-title{
  width: 95%;
  color: #fff;
  font-weight: bold;
  margin: 5px 0;
}
.gender-title{
  font-size: 16px;
}
.input-box input{
  height: 40px;
  width: 95%;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}
.input-box #message{
  border-radius: 5px;
  padding: 0 10px;
  width: 95%;
}
.input-box input:is(:focus, :valid){
  box-shadow: 0 3px 6px rgba (0,0,0,0.2);
}
.gender-category label{
  padding: 0 20px 0 5px;
  font-size: 14px;
}
.gender-category{
  color: gainsboro;
}
.gender-category label, .gender-category input{
  cursor: pointer;
}
.button-container{
  margin: 15px 0;  
}

.button-container button{
  width: 50%;
  margin: 10px 25%;
  padding: 10px;  
  display: block;
  font-size: 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(to right, #aa076b, #61045f);
  cursor: pointer;
  transition: 0.3s;
}
.button-container button:hover{
  background-image: linear-gradient(to right, #61045f, #aa076b);
}

@media(max-width:600px){
  body{   
    height: 310vh;
  }
   .container{
    min-width: 280px;
    overflow: auto;
  }
  .input-box{
    margin-bottom: 12px;
    width: 100%;
  }
  .input-box:nth-child(3n){
    justify-content: space-between;
  }
  .gender-category{
    display: flex;
    justify-content: space-between;
    width: 60%;
  }
  .content::-webkit-scrollbar{
    width: 0;
  }
}

